body {
    width: 100vw;
    height: 82.15vh;
    margin: 0;
    font-family: NotoSansCJKkr;
}

.top-of-chatroom {
    background-color: #dcab60;
    height: 49px;
    display: flex;
}

.name-of-chatroom {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    text-align: center;
    color: white;
    align-self: center;
    margin: 0 auto;
}

.row {
    height: 100%;
    overflow-y: scroll;
    background-color: #f4f4f4;
    padding-left: 16px;
    padding-right: 16px;
}

.opponent-chat {
    margin-bottom: 24px;
}

.oppent-chat-row {
    display: flex;
    margin-bottom: 6px;
}

.user-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
}

.user-contents {
    height: fit-content;
}

.user-name {
    width: 84px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #333333;
    margin-right: 8px;
}

.name-and-topic {
    display: flex;
}

.topic {
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 0.43px;
    color: #666666;
}

.balloon-and-time {
    display: flex;
}

.opponent-speech-balloon {
    /* width: fit-content; */
    height: fit-content;
    width: 250px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.picture-and-headline {
    display: flex;
}

.picture {
    width: 88px;
    height: 88px;
    border-radius: 4px;
    background-color: red;
    margin-right: 12px;
}

.headline {
    width: 135px;
    height: 66px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.92px;
    color: #222222;
}

.headline-and-date {
    display: flex;
    flex-direction: column;
}

.name-of-company-and-date {
    width: 118px;
    height: 18px;
    font-size: 12px;
    letter-spacing: 0.69px;
    color: #999999;
}

.contents {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #333333;   
    margin-top: 4px;
}

.time {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #999999;
    align-self: flex-end;
}

.mine-chat-row {
    display: flex;
}

.mine-chat {
    height: fit-content;
    margin-bottom: 24px;
}

.mine-speech-balloon {
    width: 183px;
    height: 40px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: #f0ead6;
    border-radius: 20px;
    display: flex;
}

.text {
    width: 159px;
    height: 20px; 
    font-size: 14px;
    letter-spacing: -0.16px;
    color: #333333;
    margin: 0 auto;
    align-self: center;
}

.time-and-balloon {
    display: flex;
    margin-bottom: 6px;
    margin-left: auto;
}

/* 채팅 입력 */
.input {
    height: 61px;
    display: inline-flex;
    padding: 10px;
    width: 355px;
}

.call-bot {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt0NcsDQYLxFiDkt4BV8-3xclXxkYhvfACKmIKNz-seSSPnXLcXA&s);
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: auto 0;
}

.text-input {
    width: 311px;
    height: 44px;
    border-radius: 22px;
    border: solid 1px #dedede;
    background-color: #f7f7f7;
    font-size: 14px;
    margin: auto 0;
    resize: none;
    position: relative;
    left: 8px;
}

.send {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt0NcsDQYLxFiDkt4BV8-3xclXxkYhvfACKmIKNz-seSSPnXLcXA&s);
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: auto 0;
    position: relative;
    right: 30px;
}

/* 햄버거 바 */
.hamburger-bar {
    width: 287px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}

.top-of-hamburger {
    width: 250px;
    height: 42px;
    padding: 15px 18px 12px 19px;
    display: flex;
}

.mine-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: orange;
}

.mine-name {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.18px;
    color: #d86b1f;
    margin: auto 0;
    margin-left: 14px;
    margin-right: 33px;
}

.config {
    font-size: 14px;
    letter-spacing: -0.16px;
    color: #333333;
    margin: auto 0;
    margin-right: 17px;
}

.close-bamburger {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt0NcsDQYLxFiDkt4BV8-3xclXxkYhvfACKmIKNz-seSSPnXLcXA&s);
    background-size: cover;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: auto 0;
}

.number-chat-room {
    height: 32px;
    background-color: #f7f7f7;
    display: flex;
    padding-left: 26px;
}

.text-number-chat-room {
    font-size: 14px;
    letter-spacing: -0.16px;
    color: #666666;
    margin: auto 0;
}

.other-user {
    height: 60px;
    display: flex;
    padding-left: 23px;
}

.other-user-icon {
    background-color: orange;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: auto 0;
}

.other-user-name {
    margin: auto 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.18px;
    color: #222222;
    margin-left: 18px;
    margin-right: 10px;
}

.other-user-time-and-area {
    margin: auto 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.16px;
    color: #333333;
}

.hamburger-footer {
    width: 100%;
    height: 64px;
    background-color: #dcab60;
    position: absolute;
    bottom: 0;
    display: flex;
}

.share {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.text-share {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.18px;
    text-align: center;
    color: white;
    margin: auto 0;
    cursor: pointer;
}

.quit {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.text-quit {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.18px;
    text-align: center;   
    color: white;
    margin: auto 0;
    cursor: pointer;
}